.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__name
        name
      .side-header__box__menu
        = link_to "#", class: "edit-icon" do
          = icon('far', 'edit')
        = link_to "#", class: "cog-icon" do
          = icon('fas', 'cog')
  .groups
    .group
      %p.group__name
        techcamp
      %p.group__message
        まだメッセージがありません
    .group
      %p.group__name
        techcamp
      %p.group__message
        まだメッセージがありません
    .group
      %p.group__name
        techcamp
      %p.group__message
        まだメッセージがありません